<!DOCTYPE html>
<html>
<head>

<title>Sistema de covid 19 patrones son  </title>
</head>
<body background="/static/images/fondo.jpg">
<marquee width="85%" behavior="alternate"></center><img src="/static/images/texto.gif "></center></marquee>

<button id = 'ENVIAR'type="button" onclick="ENVIAR();">
ENVIAR</button>


<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
