<!DOCTYPE html>
<html>
<head>
<script src="/static/js/index.js"></script>
<title>EXAMEN PARCIAL</title>
</head>
<body style="background-color:#9BECF9;">

<h1><center>Embebidos</center></h1>
<marquee><h3 style="background-color:#45B39D ;"><center>operación</center></h3></marquee>
<p style="color:#000000 ;"><b>Nombre:</b></p>
<p style="color:#000000 ;"><b>Menaly Luzuriaga </b></p>
<h2 style="color:#FE0101  ;">5000</h2><h2 id="numero1"></h2>
<h2 style="color:#FE0101  ;">3000</h2><h2 id="numero2"></h2>
<h2 style="color:#FE0101  ;">respuesta</h2><h2 id="respuesta">---</h2>
<button id = 'suma'type="button" onclick="suma();">
suma</button>
<button id = 'resta'type="button" onclick="resta();">
resta</button>

<!---button id = 'LED1Off' type="button" onclick="LED1_Off();">LED1_OFF!</button-->


<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
