<!DOCTYPE html>
<html>
<head>

<script src="/static/js/index.js"></script>
<title>LABORATORIO N°8</title>
</head>
<body style="background-color:#9BECF9;">

<h1><center>Embebidos</center></h1>
<marquee><h3 style="background-color:#45B39D ;"><center>SISTEMA DE CONTROL DE LED</center></h3></marquee>
<p style="color:#000000 ;"><b>Integrantes:</b></p>
<p style="color:#000000 ;"><b>Sheyla Cisneros </b></p>
<p style="color:#000000 ;"><b>Menaly Luzuriaga </b></p>
<p style="color:#000000 ;"><b>Daniel Santander</b></p>
<p style="color:#000000 ;"><b>Luis Zuñiga </b></p>
<img src="/static/images/iot.png" alt="user">
<h2 style="color:#FE0101  ;">Sensor:</h2><h2 id="sensor">--</h2>
<h2 style="color:#FE0101  ;">Estado de led:</h2><h2 id="estado">--</h2>
<button id = 'LED1On'type="button" onclick="LED1_On();">
LED1 ON!</button>
<button id = 'LED1Off' type="button" onclick="LED1_Off();">
LED1_OFF!</button>

<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>

